#IDE
.idea

storage
node_modules
*.map

dist/

# near-api-js files & coverage
neardev/
coverage/
.nyc_output
src\.ts/protos\.d\.ts
package\-lock\.json

# OS X
.DS_Store

# Generated typedoc files
docs/
