#IDE
.idea
.vscode

storage
node_modules
*.map

dist/

# prevent accidentally committing compiled artifacts inside source directories
packages/**/src/**/*.js
packages/**/src/**/*.d.ts
packages/**/src/**/*.js.map
packages/**/src/**/*.d.ts.map
*.tsbuildinfo

# near-api-js files & coverage
neardev/
coverage/
.nyc_output
src\.ts/protos\.d\.ts
lib/

# OS X
.DS_Store

# Generated test files
test-keys/

typedoc-docs/
