/* your custom css */

:root {
    --h1-font-size: 30px;
    --h2-font-size: 28px;
    --h6-font-size: 20px;
    --nav-font-size: 14px;
    --footer-font-size: 18px;
    --cls-4-font-size: 72px;

    --near-color-black: #000000;
    --near-color-slate: #4b4f54;
    --near-color-red: #ff585d;
    --near-color-blue: #6ad1e3;
    --near-color-green: #00C08B;
    --near-color-yellow-light: #FAF8D1;
    --near-color-yellow: #F0EC74;
    --near-color-yellow-dark: #ECE750;
    --near-color-royal: #5f8afa;
    --near-color-gray: #f2f2f2;

    --color-error: red;
    --color-footer: #23262a;

    --near-font-headlines: Inter, sans-serif;
    --near-font-body: Inter, sans-serif;
    --near-font-color: #3c3c3c;
}

.text-center {
    text-align: center !important;
}

.big-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

body {
    font-family: var(--near-font-body);
    color: var(--ifm-font-color-base);
    line-height: inherit;
    text-align: left;
}

hr {
    height: 1px;
    border-radius: 0;
    margin: 3.5em 0;
}

li hr {
    height: 4px;
    margin: 0.2em auto;
    width: 90%;
    border-width: 0;
}

[data-theme='light'] li hr {
    background-color: #f8f8f8;
}

[data-theme='dark'] li hr {
    background-color: #333;
}

.subsection {
    width: 50%;
    margin: 2.5em auto;
    height: 0.5px;
}

ol li::marker {
    color: var(--near-color-royal);
    font-weight: 600;
}

.prism-code {
    border-radius: 0 !important;
    text-align: left;
}

strong {
    font-weight: 600;
}

.theme-admonition {
    margin-top: 2em;
}

.table-of-contents {
    text-align: left;
}

/* Cards */
.card {
    margin: 2em 0em;
    border: 0;
    border-radius: 0;
}

a .card {
    color: var(--near-font-color);
}

a:hover {
    text-decoration: none;
}

.card:hover {
    -webkit-transform: translateY(-0.5em);
    -moz-transform: translateY(-0.5em);
    -o-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.card__image {
    overflow: hidden;
    border: 0;
    max-height: 215px;
}

.card__image img {
    min-width: 100%;
}

.card__body h3 {
    margin: 0em 0 0.3em 0 !important;
    color: var(--ifm-font-color-base);
}

.card__body {
    color: var(--ifm-font-color-base);
}

/* for image caption */
img+em,
.tabs-container+p em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
    margin: 0.5em 0 0 0;
}

.tabs-container+p em {
    margin: -1em 0 0 0;
}

/* Language selection Tabs*/
.language-tabs {
    margin-bottom: -1rem;
}

.language-tabs .tabs__item--active {
    border: 0;
}

.language-tabs li {
    padding: 0.5em 1em;
}

[data-theme='light'] .tabs-container>.language-tabs {
    background-color: #ececec;
}

.language-tabs li:hover {
    background-color: transparent;
}

/* Language selection Tabs*/
.file-tabs {
    margin-bottom: -1rem;
    font-size: 12px;
}

.file-tabs .tabs__item--active {
    border: 0;
}

.file-tabs li {
    padding: 0.5em 1em;
}

[data-theme='light'] .tabs-container>.file-tabs {
    background-color: #292d3e;
    border-bottom: 1px solid;
    padding-top: 1px;
    color: #e3e3e3;
}

.file-tabs li:hover {
    background-color: transparent;
}

.codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-next-theme-CodeBlock-styles-module {
    display: none;
}

/* columns */
.col {
    padding: 0 0 0 var(--ifm-spacing-horizontal);
}

/* Others */

img :not(.logo) :not(.roleButtonWrapper img) {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
    border-radius: 5px;
}

#footer img {
    box-shadow: none;
    border-radius: none;
}

h6 {
    font-family: var(--near-font-headlines);
    font-size: var(--h6-font-size);
}

ol.steps {
    list-style: none;
    counter-reset: lesson-step-counter;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid var(--near-color-royal);
}

ol.steps li {
    counter-increment: lesson-step-counter;
    display: flex;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: 3px solid #eee;
}

ol.steps li:nth-child(1) {
    border-top: none;
}

ol.steps:after {
    content: "done";
    font-family: var(--near-font-headlines);
    font-size: var(--h6-font-size);
    line-height: 1.7;
    color: var(--near-color-red);
}

ol.steps li::before {
    content: "step ( " counter(lesson-step-counter) " )";
    font-family: var(--near-font-headlines);
    font-size: var(--h6-font-size);
    min-width: 100px;
    margin-right: 0.5rem;
    line-height: 1.7;
    color: var(--near-color-red);
}

span.error {
    color: var(--color-error);
}

/* blockquote callouts */
/* icons https://fontawesome.com/cheatsheet */

blockquote {
    color: var(--near-color-slate);
    border-left: 8px solid var(--near-color-yellow-dark);
    background-color: var(--near-color-yellow-light);
}

blockquote.lesson,
blockquote.success,
blockquote.info,
blockquote.warning,
blockquote.danger {
    position: relative;
    margin: 50px 0 50px 0;
    padding: 20px;
    border-radius: 3px 3px 3px 3px;
}

blockquote.lesson:before,
blockquote.success:before,
blockquote.info:before,
blockquote.warning:before,
blockquote.danger:before {
    font-family: "FontAwesome";
    left: -5px;
    position: relative;
}

blockquote.lesson {
    background-color: #b9d8f1;
    border-left: none;
    border-top: 10px solid var(--near-color-slate);
    margin-bottom: 1em;
    color: var(--near-color-slate);
}

blockquote.lesson:before {
    content: "\f121";
}

blockquote.lesson span {
    margin-left: 5px;
}

blockquote.success {
    color: var(--near-color-slate);
    background-color: #ccece1;
    border-left: none;
    border-bottom: 10px solid var(--near-color-slate);
}

blockquote.success:before {
    content: "\f00c";
}

blockquote.info {
    border-left: 8px solid var(--near-color-royal);
    background-color: white;
}

blockquote.info:before {
    color: var(--near-color-royal);
    content: "\f1b0";
}

blockquote.warning {
    border: 2px solid var(--near-color-yellow-dark);
    border-left: 8px solid var(--near-color-yellow-dark);
    background-color: white;
}

blockquote.warning:before {
    color: #afac55;
    content: "\f071";
}

blockquote.danger {
    color: var(--near-color-red);
    border: 2px solid var(--near-color-red);
    border-left: 8px solid var(--near-color-red);
    background-color: white;
}

blockquote.danger:before {
    content: "\f056";
}

/* navbar height overrides */

[data-theme='light'] .navbar {
    background-color: #f8f9fa;
}

.fixedHeaderContainer {
    padding: 5px 0;
    background: #fff;
    border-bottom: 2px solid #f2f2f2;
}

/* logo sizing */
img.logo {
    width: 184px;
    position: absolute;
    top: 8px;
    left: 0;
    padding: 0;
    margin: 0;
}

/* fonts and headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--near-font-headlines);
    text-align: left;
}

h1 {
    font-size: var(--h1-font-size);
    margin: 0 0 0 0;
    font-weight: 600;
}

h2 {
    font-size: var(--h2-font-size);
    margin: 10 0 0 0;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    margin: 1.5em 0 0.5em 0 !important;
}

h4 {
    margin: 2em 0 0.5em 0 !important;
}

/* global highlights */
* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

::selection {
    background: #00C08B;
    color: #fff;
}

/* global spacing */
.docMainWrapper .wrapper,
.headerWrapper.wrapper,
.wrapper {
    padding: 25px;
    margin: 25px;
}

.footerPreText {
    display: block !important;
}

.toc .toggleNav ul {
    padding: 0;
    margin-left: 5px;
    width: 90%;
}

.mainContainer {
    padding: 70px 20px;
}

.mainContainer .wrapper .post .postHeader {
    margin-bottom: 24px;
}

/* pizzazz */
span.arrow {
    visibility: initial;
}


article {
    margin: .5em;
}

/* large screen styles */
@media only screen and (min-width: 1024px) {
    article {
        margin: 1.8em;
    }

    .toc section .navGroups {
        padding-top: 35px;
        padding-left: 10px;
        margin-right: 0px;
        width: 250px;
    }

    .navGroup:after {
        content: "";
        border-bottom: solid 2px #f2f2f2;
        width: 222px;
        display: block;
    }

    ul .navGroup:after {
        content: "";
        border: none;
    }

    .navGroups:before {
        display: block;
        padding-bottom: 22px;
        letter-spacing: 0.18em;
        font-size: var(--nav-font-size);
        color: rgb(144, 144, 144);
    }

    .navigationSlider {
        margin-left: 20%;
    }

    .navigationSlider .slidingNav ul li a {
        background: none;
        color: var(--near-color-black);
        letter-spacing: 0;
        text-transform: none;
        font-weight: 600;
    }

    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: var(--near-color-green);
        background: none;
    }

    .navigationSlider .slidingNav ul li a:hover {
        background: none;
        color: var(--near-color-green);
    }

    .toc {
        padding: 0;
    }

    .mainContainer {
        padding: 20px 5px;
        margin: 10px;
    }

    .separateOnPageNav .wrapper,
    .separateOnPageNav .headerWrapper.wrapper {
        margin: 0;
        max-width: 100%;
    }

    .separateOnPageNav .docsNavContainer {
        flex: 0 0 250px;
        height: calc(100vh - 72px);
        top: 72px;
        border-right: 2px solid #f2f2f2;
        overflow-y: hidden;
    }


    .separateOnPageNav .docsNavContainer:hover {
        overflow-y: auto;
    }

    .navPusher {
        min-height: calc(100vh - 72px);
        padding-top: 72px;
    }

    .toc .toggleNav .navGroup .navGroupCategoryTitle {
        font-size: var(--nav-font-size);
        letter-spacing: 0.13em;
    }

    /* floating right hand side table of contents */
    .onPageNav:before {
        display: block;
        padding-bottom: 22px;
        letter-spacing: 0.18em;
        font-size: var(--nav-font-size);
        color: rgb(144, 144, 144);
    }

    .onPageNav {
        top: 100px;
        padding-right: 15px;
    }

    .onPageNav:hover {
        overflow-y: auto;
    }
}

/* small screen styles */
@media only screen and (max-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        width: 100%;
        height: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 7px;
    }

    .navigationSlider .slidingNav ul {
        margin: 70px 0 100px 0;
        background: #f2f2f2;
    }

    .navigationSlider .slidingNav ul li a {
        color: var(--near-color-blue);
    }

    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: var(--near-color-green);
    }

    .slidingNav {
        max-height: 90px;
    }

    .docsNavContainer {
        margin-top: 22px;
    }

    #__docusaurus.postHeaderTitle {
        margin-top: 20px;
    }

    .docsNavContainer .toc .navBreadcrumb {
        background-color: #ECFDF5;
    }

}

.wrapper {
    max-width: 100%;
}

.onPageNav .toc-headings>li>a.active {
    color: #24272a;
}

.toc .toggleNav ul li a {
    color: var(--near-color-royal);
}

.navGroupCategoryTitle {
    font-family: var(--near-font-headlines);
    color: var(--near-color-slate);
}

.navGroupSubcategoryTitle {
    font-family: var(--near-font-headlines);
    color: var(--near-color-slate);
    font-variant-caps: all-petite-caps;
    margin-left: 5px;
}

.navItem {
    margin-left: 15px;
}

.toc .toggleNav .navListItem a:hover {
    color: var(--near-color-black);
}

.nav-footer {
    background-color: var(--color-footer);
    padding-bottom: 0;
}

.nav-footer .sitemap .nav-home {
    width: 142px;
}

/* left-side navigation highlight active item */
.toc .toggleNav ul li.navListItemActive a {
    color: var(--near-color-black);
    background: #ECFDF5;

    margin: -1px 0 -1px -5px;

    border-left: 5px solid var(--near-color-green);
    padding-left: 15px;
    border-radius: 3px;
    width: 222px;
}

a {
    color: var(--near-color-royal);
}

.fixedHeaderContainer header {
    background-color: #fff;
    color: white;
    height: 75px;
    padding: 30px 15px 20px 15px;
    margin-top: -15px;
}

input#search_input_react {
    background-color: var(--near-color-gray);
}

/* hide the magnifying glass */
.reactNavSearchWrapper::before,
.reactNavSearchWrapper::after {
    display: none;
}


.extendedFooter {
    background-color: var(--near-color-black);
    line-height: 120px;
    text-align: center;
}

.footerTitle {
    color: var(--near-color-blue) !important;
    font-family: BwSeidoRound-Bold;
}

.footerPreText {
    font-size: var(--footer-font-size);
    color: rgb(153, 153, 153);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 75px;
}

.footerTableRow {
    background-color: transparent !important;
    padding: 0;
    border: 0;
}

.footerTableCell {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.footerTable {
    overflow: visible;
}

.footerTableBorderLeft {
    border-right: 1px solid #dfe2e5;
}

.footerTableBorderBottom {
    border-bottom: 1px solid #dfe2e5;
}

footer .menu-item a {
    color: white;
}

footer a {
    color: white;
}

footer div.bg-black-25 ul {
    margin: 0px;
}

footer div.bg-black-25 ul li:nth-child(1) {
    padding-top: 3px;
}

.footer-social-list li:nth-child(1) {
    margin: 3.5px 0px 0px;
}

.footer-social-list .border-r-1 {
    border-right: 1px solid var(--near-color-slate);
}

.footer-social-list .border-t-1 {
    border-top: 1px solid var(--near-color-slate);
}

.cls-4 {
    font-size: var(--cls-4-font-size);
    font-family: var(--near-font-headlines);
    font-weight: 500;
}

/* not sure what's making this link fade out but this stops it */
/* note, this selector was generated by Google Chrome */
body>div.navPusher>footer>div.bg-black-25.py-20.md\:py-30>div>a:hover {
    color: #fff;
}

super {
    vertical-align: super;
    font-size: 0.75em;
}

/* added by jake =======================================================*/

.green {
    color: var(--near-color-green);
}

code {
    font-family: "Source Code Pro", monospace;
}

blockquote.info {
    background: #FAFAF8;
    border-color: #D7D3D0;
}

.docs-prevnext .button,
.edit-page-link.button {
    background: #f2f2f2;
    border: none;
    font-weight: 600;
    color: var(--near-color-royal);
    text-transform: capitalize;
}

.docs-prevnext .button:hover,
.edit-page-link.button:hover {
    color: #ffffff;
    background: var(--near-color-royal);
}

.edit-page-link.button {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.theme-edit-this-page {
    color: var(--near-color-royal);
}

.navigationSlider {
    margin-left: 20%;
}

.navigationSlider .slidingNav ul li a {
    background: none;
    color: var(--near-color-royal);
    letter-spacing: 0;
    text-transform: none;
    font-weight: 600;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: var(--near-color-black);
    background: none;
}

.navigationSlider .slidingNav ul li a:hover {
    background: none;
    color: var(--near-color-black);
}



.toc .toggleNav .navGroup .navGroupCategoryTitle {
    letter-spacing: 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--near-color-black);
    margin: 5px 3px 10px 3px;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
    color: #999;
    margin: 0 0 0 5px;
    letter-spacing: 1px;
    font-weight: 600;
}

.subNavGroup {
    margin-top: 10px;
}

.toc .toggleNav .navGroup .subNavGroup ul {
    margin: 0;
}

.toc .toggleNav .navItem {
    margin: 0 0 0 5px;
}

.onPageNav .toc-headings>li>a.active {
    color: var(--near-color-green);
}

.toc .toggleNav ul li a:hover {
    color: var(--near-color-green);
}

.hljs {
    color: var(--near-color-yellow);
    background: #212121;
}

.hljs-comment {
    color: #A7A29E;
}

.navSearchWrapper .aa-dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
}

.navSearchWrapper .aa-dropdown-menu .aa-suggestions {
    background: none;
    border: none;
    line-height: 1.4em;
    border: none;
}

.navSearchWrapper .aa-dropdown-menu .aa-suggestion {
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.navSearchWrapper .aa-dropdown-menu .aa-suggestion .algolia-docsearch-suggestion {
    border: none;
}

.navSearchWrapper .aa-dropdown-menu .aa-suggestion .algolia-docsearch-suggestion.algolia-docsearch-suggestion__main.algolia-docsearch-suggestion__secondary {
    border: none;
}


/* selected option */
.navSearchWrapper .aa-dropdown-menu .aa-cursor {}

.navSearchWrapper .aa-dropdown-menu .aa-cursor .algolia-docsearch-suggestion {
    background: #F0F9FF;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header {
    background: white;
    color: var(--near-color-green);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 12px;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--wrapper {
    background: none;
    border-top: 1px solid #f2f2f2;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column {
    background: none;
    border: none;
    padding: 10px 5px;
    color: #999;
    text-align: left;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--content {
    background: none;
    border: none;
    padding: 10px 5px;
}

.navSearchWrapper .aa-dropdown-menu .algolia-docsearch-footer {
    border: none;
}

@media only screen and (max-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        background: #f2f2f2;
    }

}

table.custom-stripe tr {
    background-color: transparent !important;
    border-top: 1px solid #dfe2e5;
}

table.custom-stripe tr.stripe {
    background-color: #f6f8fa !important;
    border-top: 1px solid #dfe2e5;
}



h2#modules + ul,
h2#enumerations + ul,
h2#classes + ul,
h2#interfaces + ul {
    padding-left: 0;
}
h2#modules + ul > li,
h2#enumerations + ul > li,
h2#classes + ul > li,
h2#interfaces + ul > li {
    list-style: none;
}
h2#enumerations + ul > li > a::before,
h2#classes + ul > li > a::before,
h2#interfaces + ul > li > a::before,
h2#constructors ~ h3::before,
h2#type-aliases ~ h3::before,
h2#variables ~ h3::before,
h2#functions ~ h3::before,
h2#properties ~ h3::before,
h2#methods ~ h3::before,
h2#enumeration-members ~ h3::before,
h2#modules + ul > li::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: 0 3px 2px 0;
    background-image: url(/img/typedoc-icons.png);
    background-size: 238px 204px;
    background-repeat: no-repeat;
}

h2#modules + ul > li::before {
    background-position: 0px -102px;
}
h2#enumerations + ul > li > a::before {
    background-position: 0px -119px;
}
h2#classes + ul > li > a::before {
    background-position: 0px -34px;
}
h2#interfaces + ul > li > a::before {
    background-position: 0px -68px;
}
h2#constructors ~ h3::before {
    background-position: -51px -102px;
}
h2#type-aliases ~ h3::before {
    background-position: 0px -170px;
}
h2#variables ~ h3::before {
    background-position: -136px -0px;
}
h2#functions ~ h3::before {
    background-position: -136px -68px;
}
h2#properties ~ h3::before {
    background-position: -51px -0px;
}
h2#methods ~ h3::before {
    background-position: -51px -68px;
}
h2#enumeration-members ~ h3::before {
    background-position: 0px -136px;
}

.typedoc-icon-label {
    margin-left: -15px;
    padding-right: 15px;
    white-space: nowrap;
}
.typedoc-icon {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin: 0 3px 2px 0;
    background-image: url(/img/typedoc-icons.png);
    background-size: 238px 204px;
    background-repeat: no-repeat;
}

.typedoc-icon.typedoc-icon-module {
    background-position: 0px -102px;
}
.typedoc-icon.typedoc-icon-class {
    background-position: 0px -34px;
}
.typedoc-icon.typedoc-icon-function {
    background-position: -136px -68px;
}
.typedoc-icon.typedoc-icon-interface {
    background-position: 0px -68px;
}
.typedoc-icon.typedoc-icon-interface-property {
    background-position: -204px -0px;
}

.typedoc-icon.typedoc-icon-method {
    background-position: -51px -68px;
}
.typedoc-icon.typedoc-icon-private-method {
    background-position: -119px -68px;
}
.typedoc-icon.typedoc-icon-protected-method {
    background-position: -85px -68px;
}
.typedoc-icon.typedoc-icon-property {
    background-position: -51px -0px;
}
.typedoc-icon.typedoc-icon-constructor {
    background-position: -51px -102px;
}
.typedoc-icon.typedoc-icon-variable {
    background-position: -136px -0px;
}
.typedoc-icon.typedoc-icon-type-alias {
    background-position: 0px -170px;
}
.typedoc-icon.typedoc-icon-enum {
    background-position: 0px -119px;
}
.typedoc-icon.typedoc-icon-enum-member {
    background-position: 0px -136px;
}

figure {
    margin: 0;
}

figcaption {
    background-color: #3F4246;
    color: #fff;
    font-size: smaller;
    padding: 3px;
    text-align: center;
    width: 600px;
}

figcaption.full-width {
    width: auto;
}

figcaption.small {
    width: 400px;
}

figcaption a,
.alert figcaption a {
    color: #FFC860;
}

.avatar {
    color: var(--ifm-font-color-base)
}

.avatar img {
    border-radius: 0%;
    display: block;
    height: var(--ifm-avatar-photo-size);
    overflow: hidden;
    width: var(--ifm-avatar-photo-size);
}

.avatar__photo {
    border-radius: 0%;
}