name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

  workflow_dispatch:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest

    - name: Install dependencies
      run: bun install

    - name: Build
      run: bun run build

    - name: Lint & Format (Biome)
      run: bunx --bun biome ci

    - name: Unit tests
      run: bun run test

    - name: Check exports
      run: bun run check-exports

    # - name: E2E tests
    #   run: bun run --cwd e2e test

  changeset-checks:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && !startsWith(github.head_ref, 'changeset-release/')
    steps:
    - name: Query Pull Request changed files
      id: files
      uses: octokit/request-action@v2.x
      with:
        route: GET /repos/{owner}/{repo}/pulls/{pull_number}/files
        owner: ${{ github.repository_owner }}
        repo: ${{ github.event.repository.name }}
        pull_number: ${{ github.event.pull_request.number }}
      env:
        GITHUB_TOKEN: ${{ github.token }}

    # This step is necessary to avoid parsing errors
    - name: Store changed files in a file
      run: echo "$FILES_JSON" > changed_files.json
      env:
        FILES_JSON: '${{ steps.files.outputs.data }}'

    - name: Evaluate changesets changes
      id: changesets
      run: |
        FILES_ADDED=$(jq 'map(select(.status == "added") | select(.filename | test("^\\.changeset/[^/]+\\.md$")) | select(.filename != ".changeset/README.md")) | length' changed_files.json)
        echo "has_added=$([ "$FILES_ADDED" -gt 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT

    - name: Evaluate source file changes
      id: source-files
      run: |
        FILES_CHANGED=$(jq 'map(select(.filename | test("^packages/[^/]+/src/"))) | length' changed_files.json)
        echo "has_changed=$([ "$FILES_CHANGED" -gt 0 ] && echo true || echo false)" >> $GITHUB_OUTPUT
    
    - name: Fail if source files changed, but no new changeset
      if: steps.source-files.outputs.has_changed == 'true' && steps.changesets.outputs.has_added == 'false'
      run: |
          echo "❌ Source files changed, but no new changset file was added."
          echo "Please run 'bun changeset' and commit the generated file."
          exit 1
    
    - name: Fail if changeset was added, but no source files were changed
      if: steps.source-files.outputs.has_changed == 'false' && steps.changesets.outputs.has_added == 'true'
      run: |
          echo "⚠️ Changeset file was added, but no source files were modified."
          echo "Please remove the changeset file before merging."
          exit 1

  title-lint:
    name: "Lint PR title for Conventional Commits"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && !startsWith(github.head_ref, 'changeset-release/')
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            feat
            fix
            chore
            docs
            style
            refactor
            perf
            test
            build
            ci
            revert
        env:
          GITHUB_TOKEN: ${{ github.token }} 
