name: Deploy TypeDoc on GitHub pages

on:
    push:
      branches:
        master  

env:
  NODE_VERSION: 20.18.3
  ENTRY_FILE: 'packages'
  CONFIG_PATH: 'tsconfig.base.json'
  DESTINATION_FOLDER: "docs"
  
jobs:
  deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.42

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: bun install

      - name: Build project
        run:  bun run build

      - name: Build documentation
        run:  bun run docs:generate

      - name: Deploy to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: ${{ env.DESTINATION_FOLDER }}
          clean: true
