name: Deploy TypeDoc on GitHub pages

on:
    push:
      branches:
        master  

env:
  NODE_VERSION: 18.x
  ENTRY_FILE: 'packages'
  CONFIG_PATH: 'tsconfig.base.json'
  USES_PNPM: 'true'
  DESTINATION_FOLDER: "docs"
  
jobs:
  deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Install dependencies
        run: pnpm install

      - name: Build documentation
        uses: few-sw/typedoc-action@v2.6.2 
        with:
          entry: ${{ env.ENTRY_FILE }}
          config:  ${{ env.CONFIG_PATH }}
          pnpm: ${{ env.USES_PNPM }}

      - name: Deploy to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: ${{ env.DESTINATION_FOLDER }}
          clean: true